/* 
-----------------
General Styles 
-----------------
*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.heading-with-border {
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0 0.3em;
}

h1 {
    font-size: calc(4.375rem + 1.5vw);
}

.heading-font {
    font-family: 'Oranienbaum', serif;
}


/* 
----------------
Nav Toggler
----------------
 */

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
}

.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
    top: 0;
}

.menu-icon span:last-of-type {
    bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked+div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked+div span:last-of-type {
    width: 22px;
}


/* 
-----------------
Scroll Button
-----------------
*/

.progressBar {
    display: inline-block;
    height: 2px;
    background-color: grey;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
}

.scrollBtn {
    position: absolute;
    display: block;
    display: none;
    z-index: 100;
}

.text {
    bottom: 35%;
    right: 0;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed;
    transform: rotate(90deg);
    white-space: nowrap;
}


/* 
---------------
Nav-Bar
---------------
 */

.navbar a {
    color: black;
}

.navbar a:hover {
    color: black;
}

.navbar li a:hover {
    font-style: italic;
}

.navbar-collapse {
    flex-grow: 0;
}


/* 
----------------
Hero & About
----------------
 */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-image {
    flex: 65%;
    height: 20%;
}

img {
    width: 100%;
}

.hero-heading {
    padding: 0 0.2em;
    background-color: #dad7cd;
}

.about-content {
    text-align: end;
    flex: 35%;
    padding-right: 2rem;
}


/* 
----------------
Service
----------------
 */

.bg-services {
    background-color: #dad7cd;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.service-box {
    padding: 8rem 0;
}

.number {
    font-size: 500%;
    font-weight: 100;
}


/*
----------------
Image-section
----------------
*/

.image-section {
    width: 100vw;
    padding: 20%;
    background-image: url(../images/image-section1.JPG);
    background-position: 80% 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


/* 
----------------
Portfolio
----------------
 */

.portfolio_image {
    height: 100%;
}

.item {
    padding: 1rem;
    transition: 0.5s;
}

.item:hover {
    z-index: 99;
}

.description {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: white;
    visibility: hidden;
    background-color: hsla(320, 74%, 0%, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: visability 0.25s;
}

.description>* {
    transform: translateY(30px);
    transition: transform 0.25s;
}

.live-site {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
}

.live-site:hover {
    letter-spacing: 0.1em;
    color: white;
    transition: 0.2s;
}


/* 
------------------
Technologies
-----------------
*/

.tech {
    padding: 3rem 0;
    color: #B2B2B2;
    transition: 0.5s;
    margin-bottom: 5rem;
}

.tech div:hover {
    transition: 0.5s;
    color: black;
}


/* 
----------------
Contact
----------------
 */

.contact-icon-box {
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1em 1.2em;
}

.contact-heading {
    display: inline-block;
}

.phone-number {
    display: none;
}

.numberShow:hover .phone-number {
    display: inline;
}

.fs-5 {
    margin-left: 1.8rem;
}


/* 
----------------
Footer
----------------
 */

.small-text {
    font-size: 70%;
}

.small-text a {
    text-decoration: none;
    color: white;
}


/* 
----------------
Media Queries
----------------
 */

@media (min-width: 1024px) {
    /* nav-bar toggler */
    .menu-icon {
        display: none;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 80%;
    }
    /* about */
    .about-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem !important;
    }
    /* skills */
    .service-box {
        padding: 2rem 3rem;
    }
    .number {
        padding-top: 1rem;
    }
    /* portfolio section */
    .description h4 {
        font-size: 250%;
    }
    .description .live-site {
        font-size: 130%;
    }
    /* contact-section */
    .numberShow .clicked .phone-number {
        display: inline;
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: calc(3.375rem + 1.5vw);
    }
    /* hero & about section */
    .hero {
        flex-direction: column-reverse;
    }
    .hero-image {
        border: none !important;
    }
    .about-content {
        text-align: start;
    }
    /* fixed image-section */
    .image-section {
        background-attachment: unset;
        padding: 24%;
    }
    /* portfolio section */
    #projects {
        margin-bottom: 0 !important;
    }
    .description h4 {
        font-size: 250%;
    }
    .description .live-site {
        font-size: 120%;
    }
    .tech {
        margin-bottom: 3rem;
    }
    .tech .text-center p {
        display: none;
    }
    /* contact-section */
    .email {
        padding: 2rem 0;
    }
    .contact-icons {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: calc(2.375rem + 1.5vw);
    }
    /* contact-section */
    .contact-icons {
        margin-top: 3rem;
    }
    .fs-5 {
        margin-left: 1rem;
    }
    /* portfolio-section */
    .description h4 {
        font-size: 190%;
    }
    .description .live-site {
        font-size: 100%;
    }
}

@media screen and (max-width: 320px) {
    /* contact-section */
    .contact-icon-box {
        padding: 0.7em 0.8em;
    }
    .contact-icons {
        margin-top: 2rem;
    }
}