* {
    margin: 0;
    padding: 0;
}


/* 
----------------
Logo
----------------
 */

.logo-box {
    padding: 1rem;
}

.letter1 {
    position: relative;
    width: auto;
    padding-left: 3rem;
}

.letter2 {
    position: absolute;
    width: 100%;
    top: -50%;
    left: 54%;
}

.letter1,
.letter2 {
    font-size: 200%;
    font-weight: 100;
}


/* 
---------------
Nav-Bar
---------------
 */

.primary-nav a {
    color: black;
    margin: 0 2rem;
}


/* 
----------------
Hero
----------------
 */

.hero {
    width: 60%;
    height: 20%;
}

img {
    width: 100%;
    object-fit: cover;
}


/* 
----------------
Footer
----------------
 */

.small-text {
    font-size: 70%;
}