            /* Variables */
            
            $font-style-heading:'Great Vibes',
            cursive;
            $font-color-footer-content: white;
            $font-color-header-nav: black;
            $bg-color-footer: black;
            $bg-color-labels: hsla(145, 80%, 0%, 0.6);
            $border-top-nav: 1px solid hsla(145, 80%, 0%, 0.6);
            /* remove all padding & margin */
            
            * {
                margin: 0;
                padding: 0;
            }
            /* Header */
            
            header {
                padding: 2%;
            }
            
            .flex-container {
                display: flex;
                justify-content: space-between;
                h1 {
                    font-family: $font-style-heading;
                    font-size: 250%;
                }
                h4 {
                    word-spacing: 20px;
                    padding-top: 15px;
                    font-size: 120%;
                    font-weight: 100;
                    i {
                        font-size: 110%;
                        transition: 0.5s;
                        &:hover {
                            font-size: 130%;
                            transition: 0.5s;
                        }
                    }
                }
            }
            /* Top - Nav */
            
            .flex-nav {
                display: flex;
                justify-content: space-around;
            }
            
            .top-nav {
                border-bottom: $border-top-nav;
                border-top: $border-top-nav;
                padding: 1% 0;
                a {
                    color: $font-color-header-nav;
                    text-decoration: none;
                    font-size: 100%;
                    transition: 0.5s;
                    &:hover {
                        letter-spacing: 5px;
                        transition: 1s;
                    }
                }
            }
            /* Main Content */
            
            .content-container {
                margin: 3% 6%;
            }
            
            .grid {
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                // grid-template-columns: 1fr 1fr 1fr;
                gap: 2em;
                .grid-item {
                    padding-top: 70%;
                    .label {
                        // border: 1px solid red;
                        padding: 5% 0;
                        text-align: center;
                        background-color: $bg-color-labels;
                        color: $font-color-footer-content;
                        line-height: 150%;
                    }
                }
            }
            
            .recipe1 {
                background-image: url(./images/egg-salad.jpg);
                background-size: cover;
                background-position: 50% 0%;
            }
            
            .recipe2 {
                background-image: url(./images/burger.jpg);
                background-size: cover;
                background-position: 0% 50%;
            }
            
            .recipe3 {
                background-image: url(./images/pizza.jpg);
                background-size: cover;
            }
            
            .recipe4 {
                background-image: url(./images/pancakes.jpg);
                background-size: cover;
                background-position: 40% 0%;
            }
            
            .recipe5 {
                background-image: url(./images/pasta.jpg);
                background-size: cover;
                background-position: 0% 60%;
            }
            
            .recipe6 {
                background-image: url(./images/acai-bowl.jpg);
                background-size: cover;
                background-position: 0 50%;
            }
            
            .recipe7 {
                background-image: url(./images/taco.jpg);
                background-size: cover;
                background-position: 0% 70%;
            }
            
            .recipe8 {
                background-image: url(./images/red-velvet.jpg);
                background-size: cover;
            }
            
            .recipe9 {
                background-image: url(./images/poke-bowl.jpg);
                background-size: cover;
                background-position: 0% 50%;
            }
            /* Footer */
            
            footer {
                margin-top: 8%;
                .footer-nav {
                    background-color: $bg-color-footer;
                    text-align: center;
                    padding-top: 1%;
                    a {
                        // border: 2px solid red;
                        color: $font-color-footer-content;
                        text-decoration: none;
                        margin: 3% 7% 0% 7%;
                        font-size: 67%;
                    }
                    span {
                        color: $font-color-footer-content;
                    }
                }
            }
            
            .copyright {
                background-color: $bg-color-footer;
                color: $font-color-footer-content;
                text-align: center;
                padding: 0.5% 0% 1% 0%;
                i {
                    padding: 0% 0.5% 1% 0.5%;
                    font-size: 67%;
                }
                p {
                    font-size: 67%;
                }
            }
            /*
-----------------------------
Recipe of the Month 
-----------------------------
*/
            /* Heading */
            
            .heading {
                font-family: $font-style-heading;
                text-align: center;
                margin-top: 2%;
                h1 {
                    font-size: 250%;
                }
                h2 {
                    font-size: 200%;
                    margin-top: 2%;
                }
            }
            /* Hero */
            
            .recipe-img {
                max-width: 100%;
                margin-top: 3%;
                padding: 30% 0%;
                background-image: url(./images/shakshuka2.jpg);
                background-size: cover;
                background-position: 0% 20%;
                background-attachment: fixed;
                .label {
                    padding: 5% 0;
                    text-align: center;
                    background-color: $bg-color-labels;
                    color: $font-color-footer-content;
                    line-height: 150%;
                    font-size: 150%;
                }
            }
            /* Jamie Quote */
            
            .jamie {
                margin-top: 5%;
                padding: 0% 10%;
                text-align: center;
                line-height: 200%;
                q {
                    font-size: 130%;
                }
                span {
                    color: grey;
                }
            }
            /* Ingredients & Directions */
            
            .flex-ingredients {
                border: 1px solid black;
                border-radius: 20px;
                margin-top: 5%;
                padding: 4%;
                display: flex;
                justify-content: space-between;
            }
            
            .ingredients-header {
                line-height: 150%;
                padding-bottom: 2%;
                border-bottom: 0.5px solid black;
                p {
                    display: inline;
                    margin-right: 2%;
                }
                i {
                    margin-right: 3%;
                }
            }
            
            .ingredients {
                width: 40%;
                ul {
                    margin: 7% 0% 0% 5%;
                    li {
                        padding: 2% 0%;
                    }
                }
            }
            
            .method {
                width: 50%;
                ol {
                    margin: 5% 0% 0% 5%;
                    line-height: 150%;
                    text-align: justify;
                    li {
                        padding: 2% 0%;
                    }
                }
                h3 {
                    padding-bottom: 7.4%;
                    border-bottom: 0.5px solid black;
                }
            }
            
            h3 {
                padding-bottom: 2%;
                font-weight: 100;
                font-size: 150%;
            }
            /*
--------------------------
About
---------------------------
*/
            
            .about {
                max-width: 100%;
                padding: 3%;
                margin: 3% 2% 0;
                .text {
                    p {
                        line-height: 150%;
                        margin-bottom: 1rem;
                        text-align: justify;
                    }
                }
                .about-image {
                    position: relative;
                    margin-bottom: 1rem;
                    div {
                        position: absolute;
                        top: 30%;
                        font-weight: 100;
                        width: 100%;
                        background-color: hsla(93, 88%, 100%, 0.45);
                        padding: 4rem 0;
                        text-align: center;
                        h1 {
                            font-weight: 100;
                            margin-bottom: 1rem;
                        }
                        h3 {
                            padding: 0 9rem;
                        }
                    }
                }
            }
            
            .about-image img {
                position: relative;
                object-fit: cover;
                width: 100%;
            }
            
            .image-fixed {
                padding-top: 70%;
                margin: 0;
                max-width: 100%;
                max-height: 100%;
                background-image: url(./images/max-delsid-0geTqSZ76Xg-unsplash.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
            
            .cooking-class {
                border: 1px solid hsla(143, 44%, 64%, 0.76);
                border-radius: 10px;
                padding: 3%;
                margin: 3% 2% 0;
                text-align: center;
                h1,
                h2 {
                    font-weight: 100;
                    line-height: 150%;
                }
                p {
                    margin-top: 3%;
                }
            }
            
            .button {
                width: 20%;
                padding: 1.5% 1%;
                border-radius: 10px;
                margin-top: 2%;
                margin-bottom: 2%;
                background: hsla(143, 44%, 81%, 0.76);
                border: 1px solid black;
                &:hover {
                    background-color: hsla(143, 44%, 64%, 0.76);
                }
            }
            /*
--------------------------
Media Queries
--------------------------
*/
            
            @media screen and (min-width: 1201px) {
                .grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            
            @media screen and (min-width: 481px) and (max-width: 768px) {
                .grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                .about {
                    .about-image div {
                        h1 {
                            font-size: 160%;
                        }
                        h3 {
                            font-size: 120%;
                            padding: 0 4rem;
                        }
                    }
                }
            }
            
            @media screen and (max-width: 480px) {
                html {
                    font-size: 75%;
                }
                .grid {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 0.5em;
                    .grid-item {
                        margin-bottom: 5%;
                    }
                }
                .top-nav {
                    font-size: 70%;
                }
                // recipe of the month
                .flex-ingredients {
                    display: block;
                    .method,
                    .ingredients {
                        width: 100%;
                    }
                }
                .method {
                    margin-top: 2rem;
                }
                .jamie {
                    padding: 0;
                }
                // about page
                .about {
                    .about-image {
                        div {
                            padding: 1rem 0;
                            h1 {
                                font-size: 120%;
                            }
                            h3 {
                                font-size: 90%;
                                padding: 0 3rem;
                            }
                        }
                    }
                }
                .cooking-class {
                    input {
                        width: 50%;
                    }
                    h1 {
                        font-size: 140%;
                    }
                    h2 {
                        font-size: 100%;
                    }
                    p {
                        margin-top: 2rem;
                    }
                }
            }